@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-family: 'ralewaythin', Arial, Helvetica, sans-serif;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1340px;
    margin: auto;
}

#logo
{
    background-color: rgba(42, 45, 235, 0.459);
}

#nav li
{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

#nav a
{
    text-decoration: none;
}

#inscript
{
    color: #0065fc;
}

#inscript a:visited
{
    text-decoration:none;
    color: #0065fc;
}

#head_search
{
    background-color: rgba(248, 76, 248, 0.452);
    max-width: 1340px;
    height: 300px;
    margin: auto;
}

#page_content
{
    display: flex;
    flex-direction: row;
    max-width: 1340px;
    margin: auto;
    margin-top: 30px;
}

#heberg
{
    background-color: #f2f2f2;
    width: 880px;
    min-height: 625px;
    margin: 0 auto;
    margin-right: 20px;
    border: 0px solid black;
    border-radius: 20px;
}

#heberg h1
{
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 45px;
}

#bottomheberg h2
{
    font-weight: bold;
    margin-left: 40px;
    margin-top: 43px;
}

#samplehotel
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.viewhotel i
{
    color: #0065fc;
}

.viewhotel
{
    width: 247px;
    height: 200px;
    background-color: white;
    border: 0px solid black;
    border-radius: 20px;
    margin-top: 30px;
}

.viewhotel img
{
    width: 235px;
    height: 115px;
    margin: 6px 6px;
    border: 0px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.viewhotel h2
{
    font-weight: bold;
    font-size: 1.2em;
}

.viewhoteltext
{
    margin-left: 15px;
    position: relative;
    bottom: 14px;
    font-size: 0.8em;
}

#popul
{
    background-color: #f2f2f2;
    width: 420px;
    min-height: 625px;
    margin: 0 auto;
    margin-left: 20px;
    border: 0px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#entetepopul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#entetepopul h1
{
    margin-left: 36px;
    margin-top: 45px;
}

#entetepopul i
{
    margin-right: 36px;
    margin-top: 27px;
    font-size: 1.5em;
}

.viewpopul
{
    width: 343px;
    height: 145px;
    background-color: white;
    border: 0px solid black;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 36px;
    display: flex;
    flex-direction: row;
}

.viewpopul img
{
    width: 127px;
    height: 134px;
    margin: 6px 6px;
    border: 0px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#samplepopul
{
    display: flex;
    flex-direction: column;
}

.viewpopultext
{
    margin-left: 21px;
    margin-top: 15px;
    font-size: 0.8em;
}

.viewpopultext h2
{
    font-weight: bold;
    font-size: 1.2em;
}

.viewpopul i
{
    color: #0065fc;
    margin-top: 40px;
}

.viewpopultext2
{
    margin-left: 21px;
    margin-top: 15px;
    font-size: 0.8em;
}

.viewpopultext2 h2
{
    font-weight: bold;
    font-size: 1.2em;
}

.viewpopultext2 i
{
    margin-bottom: 30px !important;
}