@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body
{
    min-width: 350px;
}

*
{
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
}


header
{
    display: flex;
    flex-direction: column;
    max-width: 1340px;
    margin: auto;
    position: relative;
}

header a
{
    text-decoration: none;
}

#logo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo div
{
    margin-top: 12px;
}

#nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    right: 4.2cm;
    top: 12px;
}

.blacklink
{
    text-decoration: none;
    color: black;
}

#nav a:hover
{
    border-top: 3px solid #0065fc;
}

#heberglink
{
    color: #0065fc;
    font-weight: bold;
}

#activlink
{
    margin-left: 35%;
    color: black;
}

#blocpage
{
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#heberglink a:visited
{
    text-decoration:none;
    color: #0065fc;
}

#activlink a:visited
{
    text-decoration:none;
    color: black;
}

#inscriptlink
{
    color: #0065fc;
    font-weight: bold;
}

#inscriptlink a:visited
{
    text-decoration:none;
    color: #0065fc;
}

#head_search
{
    max-width: 1340px;
    min-height: 300px;
    margin: auto;
}

.semibold
{
    font-weight: bold;
}

#barsearch
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

#gpsbutton
{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}


#searchtape
{
    border: 1px solid #f2f2f2;
    height: 50px;
    width: 235px;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

button
{
    height: 50px;
    width: 133px;
    color: white;
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    border: none;
    font-size: 1.2em;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
    color: white;
}

#rech
{
    font-size: 0.9em;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
    color: white; 
}

#loupe
    {
        display: none;
    }



#filterline
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

#blocfilters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filterline h2
{
    margin-top: 25px;
    font-size: 1.2em;
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}


#filtermoney
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blocmoney
{
    height: 51px;
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid #f2f2f2;
    border-radius: 40px;
    font-size: 1.2em;
    margin-left: 25px;
    margin-top: 10px;
}

#blocmoney:hover
{
    box-shadow: 0px 0px 15px #6e7a8a;
}

#filtermoney i
{
    color: #0065fc;
    width: 51px;
    height: 51px;
    background-color: #deebff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#moneytext
{
    height: 50px;
    width: 190px;
    margin-bottom: 10px;
    margin-left: 12px;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#moneytext p
{   
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}

#filterfamily
{
    display: flex;
    flex-direction: row;
}

#blocfamily
{
    height: 51px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid #f2f2f2;
    border-radius: 40px;
    font-size: 1.2em;
    margin-left: 25px;
    margin-top: 10px;
}

#blocfamily:hover
{
    box-shadow: 0px 0px 15px #6e7a8a;
}

#filterfamily i
{
    color: #0065fc;
    width: 51px;
    height: 51px;
    background-color: #deebff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#familytext
{
    height: 50px;
    width: 190px;
    margin-bottom: 10px;
    margin-left: 12px;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
}

#familytext p
{   
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}

#filterlove
{
    display: flex;
    flex-direction: row;
}

#bloclove
{
    height: 51px;
    width: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid #f2f2f2;
    border-radius: 40px;
    font-size: 1.2em;
    margin-left: 25px;
    margin-top: 10px;
}

#bloclove:hover
{
    box-shadow: 0px 0px 15px #6e7a8a;
}

#filterlove i
{
    color: #0065fc;
    width: 51px;
    height: 51px;
    background-color: #deebff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lovetext
{
    height: 50px;
    width: 190px;
    margin-bottom: 10px;
    margin-left: 12px;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
}

#lovetext p
{   
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}

#filterpets
{
    display: flex;
    flex-direction: row;
}

#blocpets
{
    height: 51px;
    width: 240px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid #f2f2f2;
    border-radius: 40px;
    font-size: 1.2em;
    margin-left: 25px;
    margin-top: 10px;
}

#blocpets:hover
{
    box-shadow: 0px 0px 15px #6e7a8a;
}

#filterpets i
{
    color: #0065fc;
    width: 51px;
    height: 51px;
    background-color: #deebff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#petstext
{
    height: 50px;
    width: 190px;
    margin-bottom: 10px;
    margin-left: 12px;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
}

#petstext p
{   
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}

#info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

#info i
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    width: 24px;
    height: 24px;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
}

#info p
{
    margin-left: 10px;
}

#heberg_and_populs
{
    display: flex;
    flex-direction: row;
    max-width: 1340px;
    margin: auto;   
    margin-top: 0px;
}

#heberg
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f2f2f2;
    max-width: 880px;
    min-height: 625px;
    margin: 0 auto;
    margin-right: 20px;
    border: 0px solid black;
    border-radius: 20px;
}

#heberg h1
{
    font-weight: bolder;
    margin-left: 20px;
    position: relative;
    top: 25px;
    left: 5px;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
}

#bottomheberg
{
    margin-top: 20px;
    margin-left: 25px;
}

#bottomheberg h2
{
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#samplehotel
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}



.starhotel
{
    margin-bottom: 50px;
    margin-left: 15px;
    font-size: 0.8em;
}

.viewhotel
{
    width: 247px;
    height: 200px;
    background-color: white;
    border: 0px solid black;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0px 2px 10px #dad8d8;
}

.viewhotel img
{
    width: 235px;
    height: 115px;
    margin: 6px 6px;
    border: 0px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.viewhotel h2
{
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
}

.viewhoteltext
{
    margin-left: 15px;
    position: relative;
    height: 35px;
    bottom: 15px;
    font-size: 0.85em;
}

.inter
{
    line-height: 0.3em;
}

#popul
{
    background-color: #f2f2f2;
    min-width: 377.5px;
    height: 625px;
    margin: 0 auto;
    border: 0px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#entetepopul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 30px;
    margin-top: 5px;
}

#entetepopul h1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 230px;
    margin-left: 38px;
    margin-top: 35px;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
}

#logopopul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-size: 2em;
    margin-right: 35px;
    margin-top: 5px;
}

.starpopul
{
    margin-bottom: 12px;
    margin-left: 16px;
    font-size: 0.75em;
}

.viewpopul
{
    width: 343px;
    height: 145px;
    background-color: white;
    border: 0px solid black;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 10px #dad8d8;
}

.viewpopul img
{
    width: 127px;
    height: 134px;
    margin: 6px 6px;
    border: 0px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#samplepopul
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.positiontext
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.viewpopultext
{
    margin-left: 15px;
    margin-top: 0px;
    font-size: 0.9em;
    height: 62px;
}

.viewpopultext h2
{
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
}


.bluestar
{
    color: #0065fc;
}

.greystar
{
    color: #d9d9d9;
}

.minihotel
{
    object-fit: cover;
}

#activities
{
    display: flex;
    flex-direction: column;
    max-width: 1340px;
    margin: auto;
    margin-top: 35px;
}

#activities h2
{
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

#activsamples
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#vieuxport
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 445px;
    border: 0px solid black;
    box-shadow: 0px 5px 10px #dad8d8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 25px;
}

#imgvieuxport
{
    width: 300px;
    height: 389px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activtext
{
    display: flex;
    align-items: center;
}

.activtext p
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    margin-left: 15px;
}

.sampactiv
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
}

#pomegues
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 235px;
    border: 0px solid black;
    box-shadow: 0px 5px 10px #dad8d8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#imgpomegues
{
    width: 300px;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#frioul
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 163px;
    border: 0px solid black;
    box-shadow: 0px 5px 10px #dad8d8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 25px;
}

#imgfrioul
{
    width: 300px;
    height: 107px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#calanques
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 445px;
    border: 0px solid black;
    box-shadow: 0px 5px 10px #dad8d8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 25px;
}

#imgcalanques
{
    width: 300px;
    height: 389px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#notredamegarde
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 195px;
    border: 0px solid black;
    box-shadow: 0px 5px 10px #dad8d8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#imgnotredamegarde
{
    width: 300px;
    height: 138px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

#parclongchamp
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 210px;
    border: 0px solid black;
    box-shadow: 0px 5px 10px #dad8d8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 25px;
}

#imgparclongchamp
{
    width: 300px;
    height: 153px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


footer
{
    
    background-color: #f2f2f2;
}

#footpage
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 220px;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1340px;
}

.footbloc
{
    width: 33%;
}

footer h3
{
    font-family: 'ralewaysemibold', Arial, Helvetica, sans-serif;
}



@media all and (max-width:480px)
{
    header
    {
        justify-content: space-between;
    }
    
    #nav
    {
        position: initial;
        margin-top: 25px;
        justify-content: center;
    }

    #nav a:hover
    {
    border-bottom: 3px solid #f2f2f2;
    }

    #search1
    {
        margin-left: 20px;
    }

    #barsearch
    {
        width: 100%;
        margin-left: 20px;
        display: flex;
        flex-wrap: nowrap;
    }

    #search
    {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    #loupe
    {
        display: initial;
        font-size: 0.9em;
    }

    #rech
    {
        display: none;
    }

    #filterline h2
    {
        margin-left: 20px;
    }


    #info
    {
        margin-left: 30px;
    }
    
    
    button
    {
        width: 50px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        position: relative;
    }
    
    button p
    {
        display: none;
    }

    button i
    {
        font-size: 1.4em;
    }

    #heberg_and_populs
    {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #samplehotel
    {
        flex-direction: column;
        align-items: center;
        width: 420px;
    }

    #heberg
    {
        background-color: white;
    }

    .viewhotel
    {
        width: 332px;
        flex-direction: column;
        align-items: center;
    }

    .viewhotel img
    {
        width: 320px;
    }

    .viewpopul
    {
        width: 332px;
    }

    #heberg_and_populs
    {
        align-items: center;
    }

    #footpage
    {
        flex-direction: column;
        width: 420px;
        margin-top: 50px;
    }

    .footbloc
    {
        width: 420px;
        margin-top: 20px;
        margin-left: 50px;
    }

    #activities h2
    {
        margin-left: 45px;
    }
    
    #heberg h1
    {
        margin-left: 40px;
    }

    #bottomheberg h2
    {
        margin-left: 20px;
    }

    #activsamples
    {
        flex-direction: column;
        align-items: center;
        width: 420px;
    }

    #vieuxport
    {
        height: 190px;
        width: 332px;
    }

    #imgvieuxport
    {
        width: 332px;
        height: 132px;
    }

    #pomegues
    {
        height: 190px;
        width: 332px;
    }

    #imgpomegues
    {
        width: 332px;
        height: 132px;
    }

    #frioul
    {
        height: 190px;
        width: 332px;
    }

    #imgfrioul
    {
        width: 332px;
        height: 132px;
    }

    #calanques
    {
        height: 190px;
        width: 332px;
    }

    #imgcalanques
    {
        width: 332px;
        height: 132px;
    }

    #notredamegarde
    {
        height: 190px;
        width: 332px;
    }

    #imgnotredamegarde
    {
        width: 332px;
        height: 132px;
    }

    #parclongchamp
    {
        height: 190px;
        width: 332px;
    }

    #imgparclongchamp
    {
        width: 332px;
        height: 132px;
    }
}